[data-theme="dark"] {
    background-color: #000 !important;
    color: #eee;
}

[data-theme="dark"] .bg-light {
    background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #eee !important;
}

[data-theme="dark"] .dark {
    background-color: #111 !important;
    color: #eee;
}

[data-theme="dark"] .title-s {
    background-color: #111 !important;
    color: #eee;
}

[data-theme="dark"] .ddark {
    color: #eee !important;
}

[data-theme="dark"] .dar {
    background-color: #111 !important;
    color: #eee;
}

[data-theme="dark"] .navbar-trans {
    background-color: transparent !important;
}

.overlay-blur {
    background-image: url(../img/overlay-bg.jpg);
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.wall {
    background-image: url(../img/overlay-bg.jpg);
}

[data-theme="dark"] .wall {
    background-image: url(../img/overlay-bg1.jpg);
}

.big {
    font-size: 25px;
}

[data-theme="dark"] .big {
    font-size: 25px;
}

[data-theme="dark"] .med {
    font-size: 20px;
}

.med {
    font-size: 20px;
}

hr {
    display: block;
    border-style: block;
    border-color: white;
    border-width: 1px;
}


/* Frost Glass Code */

.frost-container {
    width: 30rem;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.301);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.glass {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}